In [4]:
!pip3 install git+git://github.com/geopandas/geopandas.git
!pip3 install descartes
!pip3 install folium

Defaulting to user installation because normal site-packages is not writeable
Collecting git+git://github.com/geopandas/geopandas.git
  Cloning git://github.com/geopandas/geopandas.git to /tmp/pip-req-build-ttdm2f62
  Running command git clone -q git://github.com/geopandas/geopandas.git /tmp/pip-req-build-ttdm2f62
Collecting fiona
  Using cached Fiona-1.8.13.post1-cp38-cp38-manylinux1_x86_64.whl (14.7 MB)
Collecting pandas>=0.23.0
  Using cached pandas-1.0.5-cp38-cp38-manylinux1_x86_64.whl (10.0 MB)
Collecting pyproj>=2.2.0
  Using cached pyproj-2.6.1.post1-cp38-cp38-manylinux2010_x86_64.whl (10.9 MB)
Collecting shapely
  Using cached Shapely-1.7.0-cp38-cp38-manylinux1_x86_64.whl (1.8 MB)
Collecting cligj>=0.5
  Using cached cligj-0.5.0-py3-none-any.whl (5.7 kB)
Collecting click-plugins>=1.0
  Using cached click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Collecting munch
  Using cached munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: attrs>=17 in /usr/lib/python3/dist-packages (from fiona->geopandas==0.8.0+4.gb0381e1) (19.3.0)
Requirement already satisfied: click<8,>=4.0 in /usr/lib/python3/dist-packages (from fiona->geopandas==0.8.0+4.gb0381e1) (7.0)
Requirement already satisfied: six>=1.7 in /usr/lib/python3/dist-packages (from fiona->geopandas==0.8.0+4.gb0381e1) (1.14.0)
Requirement already satisfied: python-dateutil>=2.6.1 in /home/ubuntu/.local/lib/python3.8/site-packages (from pandas>=0.23.0->geopandas==0.8.0+4.gb0381e1) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/lib/python3/dist-packages (from pandas>=0.23.0->geopandas==0.8.0+4.gb0381e1) (1.17.4)
Collecting pytz>=2017.2
  Using cached pytz-2020.1-py2.py3-none-any.whl (510 kB)
Building wheels for collected packages: geopandas
  Building wheel for geopandas (setup.py) ... done
  Created wheel for geopandas: filename=geopandas-0.8.0+4.gb0381e1-py2.py3-none-any.whl size=962710 sha256=206cf739b3f19d163b016df5cb558e6659e7b116ed5df3d19f9601b50cc397d1
  Stored in directory: /tmp/pip-ephem-wheel-cache-8msufcvr/wheels/37/ce/df/09721a3e578b57e217d038d0555fd872eba4e1fd9c8f6c8013
Successfully built geopandas
Installing collected packages: cligj, click-plugins, munch, fiona, pytz, pandas, pyproj, shapely, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.5.0 fiona-1.8.13.post1 geopandas-0.8.0+4.gb0381e1 munch-2.5.0 pandas-1.0.5 pyproj-2.6.1.post1 pytz-2020.1 shapely-1.7.0
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: descartes in /home/ubuntu/.local/lib/python3.8/site-packages (1.1.0)
Requirement already satisfied: matplotlib in /home/ubuntu/.local/lib/python3.8/site-packages (from descartes) (3.2.2)
Requirement already satisfied: numpy>=1.11 in /usr/lib/python3/dist-packages (from matplotlib->descartes) (1.17.4)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/ubuntu/.local/lib/python3.8/site-packages (from matplotlib->descartes) (1.2.0)
Requirement already satisfied: python-dateutil>=2.1 in /home/ubuntu/.local/lib/python3.8/site-packages (from matplotlib->descartes) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /home/ubuntu/.local/lib/python3.8/site-packages (from matplotlib->descartes) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /home/ubuntu/.local/lib/python3.8/site-packages (from matplotlib->descartes) (0.10.0)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.1->matplotlib->descartes) (1.14.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: folium in /home/ubuntu/.local/lib/python3.8/site-packages (0.11.0)
Requirement already satisfied: numpy in /usr/lib/python3/dist-packages (from folium) (1.17.4)
Requirement already satisfied: requests in /usr/lib/python3/dist-packages (from folium) (2.22.0)
Requirement already satisfied: branca>=0.3.0 in /home/ubuntu/.local/lib/python3.8/site-packages (from folium) (0.4.1)
Requirement already satisfied: jinja2>=2.9 in /usr/lib/python3/dist-packages (from folium) (2.10.1)

In [6]:
import pandas as pd
import geopandas as gpd 
import matplotlib.pyplot as plt
import folium

In [9]:
df = pd.read_csv('/data/Fairfield_South_Carolina_Properties.csv', error_bad_lines=False)

b'Skipping line 5323: expected 7 fields, saw 8\nSkipping line 18371: expected 7 fields, saw 8\n'

In [10]:
df

,ParcelId,OwnerName,OwnerAddress1,OwnerAddress2,OwnerAddress3,OwnerCityStZip,Country
0,216-00-00-005-000,"POPE DEBORAH MCCLELLAN, & TROY BENJAMIN",504 LONGTOWN RD WEST,NaN,NaN,"BLYTHEWOOD, SC 29016",NaN
1,215-00-00-074-000,"BARBER SANDRA JEAN PETERSON, SETTLOR & TRUSTEE",293 EMERALD DRIVE,NaN,NaN,"BLYTHEWOOD, SC 29016",NaN
2,215-00-00-102-000,"GRATTON ALISON A & GEORGE E, RIGHT OF SURVIVOR...",285 EMERALD DRIVE,NaN,NaN,"BLYTHEWOOD, SC 29016",NaN
3,026-04-02-005-000,CDS COMPANY,144 S CONGRESS STREET,NaN,NaN,"WINNSBORO, SC 29180",NaN
4,026-04-02-007-000,TURNER UNIQUE,P O BOX 311,NaN,NaN,"GREAT FALLS, SC 29055",NaN
...,...,...,...,...,...,...,...
17591,167-04-02-010-000,MURPHY RONNIE J,PO BOX 472,NaN,NaN,"RIDGEWAY, SC 29130",NaN
17592,167-04-02-010-000,MURPHY RONNIE J,PO BOX 472,NaN,NaN,"RIDGEWAY, SC 29130",NaN
17593,167-04-02-013-000,MORALES DESSI G & RAMON A,1901 OVERHILL ROAD,NaN,NaN,"COLUMBIA, SC 29223",NaN
17594,167-04-02-010-000,MURPHY RONNIE J,PO BOX 472,NaN,NaN,"RIDGEWAY, SC 29130",NaN
17595,114-01-01-021-000,HENDRIX DOUGLAS & SANDRA,714 CEDAR STREET,NaN,NaN,"ROCK HILL, SC 29730",NaN

In [7]:
df2 = pd.read_csv('../../../data/fairfield-ct-parcels.csv')

In [8]:
df2

,WKT,OWNCITY,OWNNAME,NEIGHBORHO,SFHA,OWNZIP,PID,SALEDATE,BOOK_PAGE,SALEPRICE,...,MAPLOTID,OWNADDRESS,LANDUSE,ID,Shape_Length,OWNCOUNTRY,ZONE,PHOTO,UTILITIES,ADDRESS
0,POLYGON Z ((866491.673881635 636559.045759067 ...,FAIRFIELD,KOLB ALBERT J J JR & JANE J (SV),0087,NO,06825-1216,761.0,NaN,935/ 250,329000.0,...,0260080000,181 SKY TOP DR,Single Fam MDL-01,NaN,590.278518,USA,R2,Q:\CAMA\IMAGES\02\04\28\55.jpg,All Public,181 SKY TOP DRIVE
1,POLYGON Z ((863163.507309631 637052.689128727 ...,FAIRFIELD,FORMATO ANTHONY J & LORETTA,0085,NO,06825-1132,4902.0,NaN,627/ 583,NaN,...,049081A0000,97 OLD ELM RD,Single Fam MDL-01,NaN,494.150967,USA,R3,Q:\CAMA\IMAGES\02\04\39\34.jpg,"Public Water, Public Sewer",97 OLD ELM ROAD
2,POLYGON Z ((860074.883893728 635840.147918642 ...,FAIRFIELD,SABELLA JOSEPH & LAUREN M (SV),0085,NO,06824-2325,5017.0,NaN,1262/ 118,325000.0,...,0491620000,120 MOHICAN HILL RD,Single Fam MDL-01,NaN,599.330265,USA,R3,Q:\CAMA\IMAGES\02\04\51\06.jpg,"Public Water, Septic",120 MOHICAN HILL ROAD
3,POLYGON Z ((864518.930779889 634496.306118146 ...,FAIRFIELD,LEWIS TODD & JULIANNE (SV),0085,NO,06825-1311,4353.0,NaN,3994/ 187,505000.0,...,0470380000,95 LOUVAIN STREET,Single Fam MDL-01,NaN,382.427308,,R3,Q:\CAMA\IMAGES\02\03\70\87.jpg,"Public Water, Public Sewer",95 LOUVAIN STREET
4,POLYGON Z ((863738.240084052 633181.255926728 ...,FAIRFIELD,BULKLEY GORDON A,0085,NO,06825-2638,4418.0,NaN,4784/ 319,NaN,...,0471020000,30 LISBON DRIVE,Single Fam MDL-01,NaN,434.521528,,R3,Q:\CAMA\IMAGES\02\03\58\10.jpg,"Public Water, Public Sewer",30 LISBON DRIVE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19594,MULTIPOLYGON Z (((859444.495718807 605004.5914...,FAIRFIELD,COHEN DAVID S & NANCY L (SV),0066,YES,06824-6524,19014.0,NaN,3975/ 111,2000000.0,...,2340510000,1871 FAIRFIELD BEACH ROAD,Ocean Frt MDL-01,NaN,517.177019,,,Q:\CAMA\IMAGES\02\05\73\16.jpg,"All Public, Public Water",1921 FAIRFIELD BEACH ROAD
19595,MULTIPOLYGON Z (((857720.397132888 610045.8199...,,Pine Creek Ets,,YES,,108190.0,NaN,,NaN,...,232161A0000,,CONDO MAIN,NaN,1288.787397,,,,,876-904 OLDFIELD ROAD
19596,MULTIPOLYGON Z (((863407.335234061 617385.3787...,NEWINGTON,STATE OF CONNECTICUT C/O DEPT OF TRANSPO,0040,YES,06131-7546,10868.0,NaN,691/1131,NaN,...,1282220000,P O BOX 317546,State V,NaN,861.127051,USA,,,All Public,100 COLONY STREET
19597,MULTIPOLYGON Z (((859644.926748395 627888.6503...,FAIRFIELD,LAKE HILLS ASSOC INC,0020,YES,06824-1011,9063.0,NaN,315/ 495,NaN,...,1210260000,P O BOX 1011,PVT LAKE,NaN,15315.589033,USA,A,,,320 SAMP MORTAR DRIVE
19598,MULTIPOLYGON Z (((859889.582427055 605188.2636...,WESTPORT,"1833-1834 FAIRFIELD BEACH ASSOCIATES, LL",0066,YES,06880-3709,107452.0,NaN,4669/ 270,2100000.0,...,234042A0000,3 MARC LANE,Ocean Frt MDL-01,NaN,775.060092,,BD,Q:\CAMA\IMAGES\02\03\74\84.jpg,All Public,1833 FAIRFIELD BEACH ROAD

In [9]:
print([column for column in df2])

['WKT', 'OWNCITY', 'OWNNAME', 'NEIGHBORHO', 'SFHA', 'OWNZIP', 'PID', 'SALEDATE', 'BOOK_PAGE', 'SALEPRICE', 'OWNSTATE', 'PHOTO_HYPERLINK', 'ACRES', 'MAPLOTID', 'OWNADDRESS', 'LANDUSE', 'ID', 'Shape_Length', 'OWNCOUNTRY', 'ZONE', 'PHOTO', 'UTILITIES', 'ADDRESS']

In [10]:
df2[['SALEPRICE', 'ADDRESS']]

       SALEPRICE                    ADDRESS
0       329000.0          181 SKY TOP DRIVE
1            NaN            97 OLD ELM ROAD
2       325000.0      120 MOHICAN HILL ROAD
3       505000.0          95 LOUVAIN STREET
4            NaN            30 LISBON DRIVE
...          ...                        ...
19594  2000000.0  1921 FAIRFIELD BEACH ROAD
19595        NaN      876-904 OLDFIELD ROAD
19596        NaN          100 COLONY STREET
19597        NaN      320 SAMP MORTAR DRIVE
19598  2100000.0  1833 FAIRFIELD BEACH ROAD

[19599 rows x 2 columns]

In [11]:
2+2

4